* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(.css-dev-only-do-not-override-m4timi).ant-input {
  padding: 10px 12px;
}

:where(.css-dev-only-do-not-override-m4timi).ant-input-affix-wrapper {
  padding: 10px 12px;
}

:where(.css-dev-only-do-not-override-m4timi).ant-btn-primary {
  background: #ec7241;
  padding: 20px 62px;
}

:where(.css-dev-only-do-not-override-m4timi).ant-btn-primary:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background: #f56831;
}

:where(.css-dev-only-do-not-override-m4timi).ant-select-single {
  height: 44px;
}
.result_heading {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 40%;
}

#result_sit_naming {
  font-weight: 600;
  width: 50%;
}

#result_sit_naming_value {
  width: 50%;
  text-transform: capitalize;
}

#result_sit_naming_div {
  display: flex;
  justify-content: space-between;
}

:where(.css-dev-only-do-not-override-m4timi).ant-table-wrapper table {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 !important;
}

:where(.css-dev-only-do-not-override-m4timi).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-radius: 0;
}

:where(.css-dev-only-do-not-override-m4timi).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-radius: 0;
}
